<p>
  <b>Neck circum:</b>
  <%=h @measurement.neck_circum %>
</p>

<p>
  <b>Shoulder width:</b>
  <%=h @measurement.shoulder_width %>
</p>

<p>
  <b>Chest circum:</b>
  <%=h @measurement.chest_circum %>
</p>

<p>
  <b>Front armhole:</b>
  <%=h @measurement.front_armhole %>
</p>

<p>
  <b>Back armhole:</b>
  <%=h @measurement.back_armhole %>
</p>

<p>
  <b>Waist circum:</b>
  <%=h @measurement.waist_circum %>
</p>

<p>
  <b>Hip circum:</b>
  <%=h @measurement.hip_circum %>
</p>

<p>
  <b>Shirt length:</b>
  <%=h @measurement.shirt_length %>
</p>

<p>
  <b>Sleeve length:</b>
  <%=h @measurement.sleeve_length %>
</p>

<p>
  <b>Armhole circum:</b>
  <%=h @measurement.armhole_circum %>
</p>

<p>
  <b>Bicep circum:</b>
  <%=h @measurement.bicep_circum %>
</p>

<p>
  <b>Wrist circum:</b>
  <%=h @measurement.wrist_circum %>
</p>

<p>
  <b>Height feet:</b>
  <%=h @measurement.height_feet %>
</p>

<p>
  <b>Height inches:</b>
  <%=h @measurement.height_inches %>
</p>

<p>
  <b>Weight lb:</b>
  <%=h @measurement.weight_lb %>
</p>

<p>
  <b>Shoulder:</b>
  <%=h @measurement.shoulder %>
</p>

<p>
  <b>Chest:</b>
  <%=h @measurement.chest %>
</p>

<p>
  <b>Body shape:</b>
  <%=h @measurement.body_shape %>
</p>


<%= link_to 'Edit', edit_measurement_path(@measurement) %> |
<%= link_to 'Back', measurements_path %>